*{
    margin: 0;
}

#div1{
background-color: #ffaa7c;
height: 154px;
width: 1366px;
border: 1px solid black;
}

#div2{
background-color: hsl(217, 51%, 79%);
height: 154px;
width:1366px;
border: 1px solid black;

}

#div3{
background-color: rgb(211, 67, 31);
height: 154px;
width: 1366px;
border: 1px solid black;
}

#div4{
background-color: rgba(201, 189, 19, 0.479);
height: 154px;
width: 1366px;
border: 1px solid black;
}

#div11{
    background-color: #ffbb54;
    height: 60px ;
    width: 500px;
    margin: 6vh auto;
    font-size: 30px;
    color: aliceblue;
    padding-top: 30px;
    text-align: center;
}

#div21{
    background-color: hsl(555, 44%, 33%);
    height: 60px;
    width: 500px;
    margin: 6vh auto;
    font-size: 30px;
    color: aliceblue;
    padding-top: 30px;
    text-align: center;
}
#div31{
    background-color: rgb(158, 21, 44);
    height: 60px;
    width: 500px;
    margin: 6vh auto;
    font-size: 30px;
    color: aliceblue;
    padding-top: 30px;
    text-align: center;
}

#div41{
    background-color: rgba(70, 221, 70, 0.5);
    height: 60px;
    width: 500px;
    margin: 6vh auto;
    font-size: 30px;
    color: aliceblue;
    padding-top: 30px;
    text-align: center;   
}